:root{
    --bg-color1:#91c0ee;
    --bg-color2:#333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: var(--bg-color1);
    color: #fff;
    font-family: sans-serif;
    padding: 0 15px;
}

.header{
    position: sticky;
    top: 0;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
    & #city_input{
        background-color: #f9f9f9;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        color: #333;
        &:focus{
            outline: none;
        }
    }

    & #search_button{
        background-color: #FF4500;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
    }

    & #location_button{
        background-color: #FF4500;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
    }
}

.card{
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    & p{
        font-size: 14px;
        color:#999
    }

    & h2{
        font-size: 32px;
        font-weight: 500;
    }
    
}

.weather-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    & .weather-left{
        grid-column: span 1;
        & .current-weather{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & h2{
                margin: 7px 0;
            }
            & p{
                color: #fff;
            }
        }
        & .card-footer p{
            font-size: 14px;
            margin-bottom: 12px;
        }
        & .forecast-item{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            margin-bottom: 15px;
            & .icon-wrapper{
                display: flex;
                align-items: center;
            }
        }
        
    }
}